body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.bank-box {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 10px;
}

.balance {
    font-size: 22px;
    margin: 15px 0;
    color: green;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.deposit {
    background-color: #4CAF50;
    color: white;
}

.withdraw {
    background-color: #f44336;
    color: white;
}

.msg {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}
