body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-top: 20px;
}

input {
    width: 350px;
    padding: 12px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 6px;
    outline: none;
}

/* Validation Colors */
input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

button {
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
}

button:hover {
    background-color: #333;
}
